{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistem Pendaftaran Wisuda{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header style="position: relative;">
        <div>
            <img src="{% static 'images/logo_unila.png' %}" alt="Logo Universitas Lampung">
        </div>
        <div class="header-text">
            <h1>Sistem Pendaftaran Wisuda</h1>
            <h2>Fakultas Ilmu Sosial dan Ilmu Politik</h2>
        </div>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
        <!-- Tombol Logout -->
        <a href="{% url 'pendaftaran:logout' %}" class="btn btn-danger header-logout">Logout</a>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
        <p>&copy; 2025 Universitas Lampung</p>
    </footer>
</body>
</html>
