{% extends 'pendaftaran/base.html' %}

{% block title %}
Edit Data Mahasiswa
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Edit Data Mahasiswa</h2>
    <form method="post" class="border p-4 shadow-sm bg-white">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.nama_lengkap.label_tag }}
            {{ form.nama_lengkap }}
        </div>
        <div class="mb-3">
            {{ form.npm.label_tag }}
            {{ form.npm }}
        </div>
        <div class="mb-3">
            {{ form.email_aktif.label_tag }}
            {{ form.email_aktif }}
        </div>
        <div class="mb-3">
            {{ form.nomor_wa.label_tag }}
            {{ form.nomor_wa }}
        </div>
        <div class="mb-3">
            {{ form.strata.label_tag }}
            {{ form.strata }}
        </div>
        <div class="mb-3">
            {{ form.program_studi.label_tag }}
            {{ form.program_studi }}
        </div>
        <div class="mb-3">
            {{ form.periode_wisuda.label_tag }}
            {{ form.periode_wisuda }}
        </div>
        <button type="submit" class="btn btn-primary">Simpan</button>
        <a href="{% url 'pendaftaran:dashboard' %}" class="btn btn-secondary">Batal</a>
    </form>
</div>
{% endblock %}
