{% load static %}
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Sistem Pendaftaran Wisuda</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <script defer src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <!-- Header -->
    <header>
        <img src="{% static 'images/logo_unila.png' %}" alt="Logo Universitas Lampung">
        <link rel="icon" href="{% static 'images/favicon.ico' %}">
        <div class="header-text">
            <h1>Sistem Pendaftaran Wisuda</h1>
            <h2>Fakultas Ilmu Sosial dan Ilmu Politik</h2>
        </div>
    </header>

    <!-- Kontainer Utama -->
    <div class="page-container" style="min-height: 90vh;">
        <div class="content">
            <div class="main-content">
                <div class="image-container">
                    <img src="{% static 'images/fisip.jpg' %}" alt="Gambar FISIP">
                </div>
                <div class="form-container">
                    <h3>LOGIN</h3>
                    <form method="post">
                        {% csrf_token %}
                        <div class="input-container">
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="username" placeholder="Masukkan username" required>
                        </div>
                        <div class="input-container">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" placeholder="Masukkan password" required>
                        </div>
                        <button type="submit">Login</button>
                        <div style="margin-top: 10px; text-align: center;">
                            <p>Belum punya akun? <a href="{% url 'pendaftaran:register' %}" class="link">Daftar di sini</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer class="footer" style="margin-top: 20px;">
            &copy; 2025 Universitas Lampung - Fakultas Ilmu Sosial dan Ilmu Politik
        </footer>
    </div>
</body>
</html>
